Source: eta-screen-cover
Section: utils
Priority: optional
Maintainer: Emin Fedar <emin.fedar@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/eta-screen-cover

Package: eta-screen-cover
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3 (>=3.7),
         python3-gi,      
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0
Provides: eta-ekran-karartma, eta-black
Conflicts: eta-ekran-karartma, eta-black
Replaces: eta-ekran-karartma, eta-black
Description: Screen cover app for ETA boards.
 This app covers spesific part of the screen for educational purposes.
